<%= form_with(model: data_set, local: true) do |form| %>
  <% if data_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_set.errors.count, "error") %> prohibited this data_set from being saved:</h2>

      <ul>
      <% data_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :data_set_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :data_set_description %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :data_set_source %>
  </div>

  <div class="field">
    <%= form.label :filename %>
    <%= form.text_field :filename, id: :data_set_filename %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
