<p id="notice"><%= notice %></p>

<p>
  <strong>Twuser:</strong>
  <%= @tweeter.twuser_id %>
</p>

<p>
  <strong>Screen name:</strong>
  <%= @tweeter.screen_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tweeter.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @tweeter.url %>
</p>

<%= link_to 'Edit', edit_tweeter_path(@tweeter) %> |
<%= link_to 'Back', tweeters_path %>
